@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');
*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
    
}
html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    font-style: normal;
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Inter', sans-serif;
}
::placeholder{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #98A2B3;
    padding-left: 10px;
}
a{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    background: transparent; 
}
button:hover{
    cursor: pointer !important;
    background-color: #e6e7e9 !important;
    /* border-radius: 8px; */
    
}
.float-right{
    float: right;
}

.mg-bottom{
 margin-bottom: 36px !important;
}



/*parent container */
.container{
    height: 100%;
    background-color: #F7F8FA;
    overflow-x: hidden;
}
/* dashboard-header */
.dashboard-header{
    
    border-bottom:1px solid #E9EAF0;
    height: 88px;
    
}
/* dashboard header left title collapse button */
.dashboard-side-bar{
    display: flex;
    float: left;
    width: 302px;
    border-right: 1px solid #E9EBF0;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.dashboard-side-bar h2{
    float: left;
    margin: 30px 0px 30px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1F2633;
}
.dashboard-side-bar button{
    background-color: transparent;
    border: none;
    outline: none;
    /* width: 38%; */
    /* height: 100%; */
    margin: 40px;
}


/* dashboard right close button */

.close-button{
    float: right;
    width: 88px;
    height: 88px;
    position: relative;
    border-left: 1px solid #E9EBF0;
}
.close-button button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
/* dashboard header middle section */
.header-middle-section{
    margin: 0px 88px 0 302px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}
.search-mic{
    display: flex;
    margin-left: 0px;
    padding: 14px 0px;
    flex-basis: 35%;
    flex-direction: row;
    align-content: center;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
}
.header-search{
    flex-basis: 90%;
    height: 48px;
    border-radius: 8px;
    display: inline-block;
    margin: 0px 38px;
    padding: 0px 15px;
    background-color: #ffffff;
    
}
.search-button{
    background-image:url('./images/search.png');
    background-repeat:no-repeat;
   background-position:left;  
   padding-left:15px;
   margin-left: 10px;
   border-radius: 8px;
}
.goto-button{
    float: right;
    margin-top: 15px;
}
.header-search input{
    border: none;
    /* margin-left: 13.26px; */
    height: 100%;
    outline: none;
    width: 90%;
}
.mic-button{
    float: right;
    margin-top: 15px;
}
/* header nvabar */
.header-nav{
    display: inline-block;
    margin-left: 128px;
    height: 100%;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.header-nav ul li{
    margin-right: 32px;
}
.header-nav ul li a{
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #7A8699;
}

/* header middle sections right items */

.user-controls{
    display: flex;
    margin-right: 25px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.my-files{
    float: left;
}
.user-controls button{
    margin-right: 23px;
}
.notification-badge{
    width: 20px;
    height: 20px;
    background-color: #EF4444;
    border-radius: 12px;
    padding: 2px 6px;
    font-weight: 900;
    font-size: 10px;
    line-height: 16px;
    position: absolute;
    right: -5px;
    color: #FFFFFF;
    text-align: center;
}
.u-img-notification{
    position: relative;
    height: 50%;
}

.status-indicator{
    width: 13px;
    height: 13px;
    background: red;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 3px solid white;
    border-radius: 50%;
}

/* dashboard content section with three div left middle and right */
.dashboard-section{
    height: calc(100% - 88px);
}
/* dashboard content container */


/* left bar styles */

.left-side-bar{
 
 height: 100%;
 float: left;
 width: 302px;
 border-right: 1px solid #E9EBF0;;
 
}


.user-info button{
    margin: 43.41px 0px 43.41px 64.83px;
    border: none;
    background: transparent;
}
.user-name-img{
    float: left;
    margin: 29px 0px 29px 0px;
}
.user-name-img img{
    float: left;
}

.u-details{
    margin-left: 67px;
    margin-top: 7px;
}

.u-details .u-name{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #1F2633;
}
.dashboard-content{
    height: 100%;
}

.u-details .u-designation{
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #B8BFCC;
}
.left-navbar{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

/* horizontal-line  */

.horizontal-line{
    width: 79%;
    height: 1px;
    margin: auto;
    margin-top: 34px;
    background: #E9EAF0;

}

/* navbar */

.navbar{
    margin-top: 38px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;

}
.nav-wrapper{
    /* height: 300px; */
    overflow-y: scroll;
    overflow-x: hidden;
}


.title-upbtn h2{
    display: inline-block;
    margin: 0px 130px 20px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #B8BFCC;
}
.title-upbtn button{
 border: none;
 background: transparent;
 outline: none;
}
.nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
}
.counter{
    padding: 5px 9px 5px 9px;
    margin-right: 38px;
    background-color: rgba(59, 130, 246, 0.1);
    border-radius: 16px;
    font-weight: 800;
    font-size: 10px;
    line-height: 16px;
    color: #2563EB;
}

.nav-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 8px 0px;
}

.nav-items .nav-link span{
    margin-left: 19px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #1F2633;
   
    
}
.nav-link svg{
    float: left;
}

/* projects content container */
.projects-bar{
    margin-top: 38px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}
.project-wrapper{
    /* height: 150px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.project-menu-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.project-menu-items .projects-link span{
    margin-left: 19px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #1F2633;
    
}
.projects-link svg{
    float: left;
}








.active{
    color: #323C4D !important;
}


/* middle container styles */
.middle-content-bar{
    
    margin: 0px 88px 0px 302px;
    
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
    
}

::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgb(172, 169, 169); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(167, 165, 165); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c1c1; 
  }
.task-boards{
    display: inline-block;
}
.task-boards h2{
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    margin:36px 27px 36px 36px ;
}
.task-board-nav{
    display: inline-block;
}
.task-board-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0px 152px;
}
.task-board-nav ul li a{
    margin-right: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #98A2B3;
}
.active-task-board-nav{
    color: #3B82F6 !important;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 2.1px;
    width: fit-content;
    /* text-decoration: underline; */
}

.middle-section-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}
.task-board-user-info{
    display: inline-block;
    position: relative;
    width: 236px;
}
.task-board-user-info a:nth-child(1){
    position: absolute;
    top: -27px;
    left: 0px;
}
.task-board-user-info a:nth-child(2){
    position: absolute;
    top: -27px;
    left: 29px;
}
.task-board-user-info a:nth-child(3){
    position: absolute;
    top: -27px;
    left: 56px;
}
.task-board-user-info a:nth-child(4){
    position: absolute;
    top: -27px;
    left: 85px;
}
.task-board-user-info-more{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #F2F4F7;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    background-color: #F2F4F7;
    color: #606C80;
    border-radius: 50%;
}
.task-board-user-info a:nth-child(5){
    
    position: absolute;
    top: -27px;
    left: 117px;
    border-radius: 50%;
    
}

.user-info{
    display: inline-block;
    height: 100px;
    margin-left: 29px;
    margin-right: 29px;
    border-bottom: 1px solid #E9EBF0;
}
.task-board-user-info-add{
    position: absolute;
    top: -27px;
    left: 170px;
}

.dashboard-control-panel{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

}
.view{
    display: inline-block;
    margin: 0px 0px 46px 36px;
    border: 1px solid #E9EBF0;
    border-radius: 8px;
}
.board-view{
    /* border-right: 1px solid #E9EBF0; */
}
.view button{
    padding: 11px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #606C80;
}
.view button svg {
    float: left;
    margin-right: 11px;
}
.view-button-active{
    background-color: #FFFFFF;
    border-left: 1px solid #EBEEF2;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.list-view svg{
    margin-top: 2px;
}

.access{
    display: inline-block;
}
.access span{
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #98A2B3;
}
.u-access{
    float: left;
    margin-right: 12px;
    margin-top: -4px;
}
.access-type{
    display: inline-block;
    margin-top: 13px;
}
.v-line1{
    
    width: 1px;
    height: 41px;
    background: #EBEEF2;
    float: left;
    margin-top: -12px;
    margin-left: 16px;
    margin-right: 20px;
}
.v-line2{
    
    width: 1px;
    height: 41px;
    background: #EBEEF2;
    float: left;
    margin-top: -11px;
    margin-left: 16px;
    margin-right: 20px;
}
.social-links{
    display: inline-block;
    margin-top: 12px;
}
.social-links a{
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #98A2B3;
}
.social-links .owner{
    margin-right: 56px;
}
.social-links .twitter-image{
    position: relative;
}
.social-links .twitter-image svg{
    position: absolute;
    left: -42px;
    top: -8px;
}
.twitter-team{
    color: #606C80 !important;
}

.dashboard-search-box{
    display: inline-block;
    margin-left: 49px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #EBEEF2;
    background: #ffffff;
}
.dashboard-search-box button{
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    background: #ffffff;
    border-radius: 8px 0 0 8px;
    height: 100%;
}
.dashboard-search-box input{
    height: 100%;
    outline: none;
    border: none;
    padding-left: 12px;
}
.task-boards-buttons{
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
   
}

.icon-button{
    padding: 10px 12px;
    border: 1px solid #EBEEF2;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    margin-right: 8px;
    background: #FFFFFF;
}
/* right-side-bar container styles */

.right-side-bar{
    border: 1px solid #E9EBF0;
    float: right;
    width: 88px;
    height: 100%;
    
}
.users-link{
    
    display: flex;
    flex-direction: column;
    
    align-content: center;
    justify-content: space-between;
    
    height: 100%;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
    
    align-items: center;
}
.active-user{
    position: relative;
}
.active-now{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #04f116;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 3px solid white;
    border-radius: 50%;
}
.user-notification-badge{
    /* width: 20px; */
    /* height: 20px; */
    background-color: #EF4444;
    border-radius: 12px;
    padding: 2px 6px;
    font-weight: 900;
    font-size: 10px;
    line-height: 16px;
    position: absolute;
    right: -5px;
    top: 0px;
    color: #FFFFFF;
    text-align: center;
}
.user-status-indicator{
    width: 13px;
    height: 13px;
    background: red;
    position: absolute;
    bottom: 2px;
    right: 0px;
    border: 3px solid white;
    border-radius: 50%;
}
.arrow{
    height: 10%;
    width: 88px;
    text-align: center;
    
    border-top: 1px solid rgb(233, 235, 240);
    border-left: 1px solid rgb(233, 235, 240);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.users{
    padding: 90px 0;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.task-wrapper{
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 36px;
}
.task{
    display: inline-block;
    margin: 0px 0px 34px 0px;
    width: 100%;
}
.task h2{
    display: inline-block;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #1F2633;
}
.task span{
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    background: rgba(234, 179, 8, 0.1);
    border-radius: 50%;
    font-weight: 800;
    font-size: 10px;
    line-height: 16px;
    padding: 4px;
    color: #CA8A04;
}

.task button{
    margin-left: 110px;
    float: right;
}
.contents{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 16px;
}
.addbtn-pd0{
    padding: 0;
    margin: 0;
}
.content-top h2{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: #1F2633;
    line-height: 20px;
}
.btn-counter{
    float: right;
}
.btn-counter button{
    margin-right: 12px;
}
.btn-counter span{
    
    float: right;
    margin-top: 2px;
    font-weight: 800;
    font-size: 10px;
    line-height: 16px;
    color: #17A5E6;
}
.content-middle{
    margin-top: 15px;
}
.content-middle span{
    display: inline-block;
    
    height: 20px;
    margin-right: 8px;
    border: 1px solid #EBEEF2;
    border-radius: 16px;
    font-weight: 800;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    padding: 4px;
}

.more{
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 10px;
    background: #F2F4F7;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 50px;
    border-radius: 50%;
    background-color: #F2F4F7;
    color: #606C80;
}
.bottom-user-images{
    display: inline-block;
    margin-top: 12px;
    position: relative;
}
.button-conuter2{
    float: right;
    margin-top: 20px;
}
.bottom-user-images a:nth-child(2){
    margin-left: -10px; 
}
/* .bottom-user-images img:nth-child(2){
    margin-left: -10px;
} */
.bottom-user-images button{
    float: right;
    margin-left: 30px;
    /* margin-top: 2px; */
}
.button-conuter2 button{
    margin: 0px 8px;
}
.button-one,.button-two{
    display: inline-block;
}
.button-one span,.button-two span{
    float: right;
    font-weight: 800;
    font-size: 10px;
    line-height: 16px;
    margin-top: 2px;

}
.button-one span{
    color: #9333EA;
}
.button-two span{
    color: #D97706;
}
.gray-buttons{
    color: #DADEE6 !important;
}
.devolopement{
  
    background-color: rgba(236, 72, 153, 0.1);
    color: #DB2777;
}
.addbtn{
    text-align: center;
    
}
.addbtn button{
    width: 100%;
    padding: 3px;
}
.addbtn button:hover{
    border-radius: 8px;
}
.main-contents{
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
    margin-right: 25px;
}


.blue-semi-ciecle-border-active{
    border: 2px solid rgb(45, 154, 243);
    border-radius: 50%;
    border-left-color: transparent;
    padding: 1px;
}
.blue-semi-ciecle-border-active img{
    border-radius: 50%;
    height: 100%;
    width: 100%;

}

.in-process{
    background-color: rgba(168, 85, 247, 0.1);
    color: #9333EA;
}
.design{
    background-color: rgba(59, 130, 246, 0.1);
    color: #2563EB;
}
.backlog{
    background-color: rgba(234, 179, 8, 0.1);
    color: #CA8A04;
}
.project{
    background-color: #FFFFFF;
    color: #606C80;
}
.todo{
    color: #DB2777;
    background-color: rgba(236, 72, 153, 0.1);
}
.done{
    color: #16A34A;
    background: rgba(34, 197, 94, 0.1);
}
.to-varify{
    color: #9333EA;
    background: rgba(168, 85, 247, 0.1);
}