*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
html{

    height: 100%;
}
body{
    height: 100%;
}
a{
    text-decoration: none;
}
button{
    border: none;
    outline: none;
    background: transparent; 
}
button:hover{
    cursor: pointer;
    
}

.mg-bottom{
 margin-bottom: 36px !important;
}

.clear-fix{
    clear: both;
}

/*parent container */
.container{
    /* display: grid; */
    /* grid-template-columns: 302px auto 88px; */
    /* grid-template-rows: 88px auto; */
    height: 100%;
    background-color: #F7F8FA;
    overflow-x: hidden;
}

.dashboard-section{
    height: calc(100% - 88px);
}

/* left bar styles */

.left-side-bar{
 /* border: 1px solid black; */
 height: 100%;
 float: left;
 width: 302px;
 /* grid-row: 2/4; */
 
}

.dashboard-side-bar{
    /* display: inline-block; */
    float: left;
    width: 302px;
}

.dashboard-side-bar h2{
    float: left;
    margin: 30px 0px 30px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1F2633;
}
.dashboard-side-bar button{
    margin: 38px 0px 0px 110.2px;
    background-color: transparent;
    border: none;
    outline: none;
}



/* dashboard content container */
.dashboard-content{
    /* border-top: 1px solid #E9EBF0; */
}
.user-name-img{
    float: left;
    margin: 29px 0px 29px 0px;
}
.user-name-img img{
    float: left;
}
.u-details{
    margin-left: 67px;
    margin-top: 7px;
}

.u-details .u-name{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #1F2633;
}

.u-details .u-designation{
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #B8BFCC;
}
.user-info {
    margin-left: 29px;
    margin-right: 29px;
    border-bottom: 1px solid #E9EBF0;
}
.user-info button{
    margin: 43.41px 0px 43.41px 64.83px;
    border: none;
    background: transparent;
}

/* horizontal-line  */

.horizontal-line{
    width: 79%;
    height: 1px;
    margin: auto;
    margin-top: 34px;
    background: #E9EAF0;

}

/* navbar */

.navbar{
    margin-top: 38px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;

}
.nav-wrapper{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title-upbtn h2{
    display: inline-block;
    margin: 0px 130px 38px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #B8BFCC;
}
.title-upbtn button{
 border: none;
 background: transparent;
 outline: none;
}
.nav-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;
}
.counter{
    padding: 5px 9px 5px 9px;
    margin-right: 38px;
    background-color: rgba(59, 130, 246, 0.1);
    border-radius: 16px;
    font-weight: 800;
    font-size: 10px;
    line-height: 16px;
    color: #2563EB;
}


.nav-items .nav-link span{
    margin-left: 19px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #1F2633;
    
}
.nav-link svg{
    float: left;
}

/* projects content container */
.projects-bar{
    margin-top: 38px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
}
.project-wrapper{
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.project-menu-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;
}
.project-menu-items .projects-link span{
    margin-left: 19px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #1F2633;
    
}
.projects-link svg{
    float: left;
}
/* dashboard-header */
.dashboard-header{
    /* grid-column: 1/4; */
    /* border: 1px solid red; */
    border-bottom:1px solid #E9EAF0;
    height: 88px;
    
}
.header-middle-section{
    margin: 0px 88px 0 302px;
}
.search-mic{
    display: inline-block;
    margin-left: 0px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 14px 0px;
}
.header-search{
    /* width: 264px; */
    height: 48px;
    border-radius: 8px;
    display: inline-block;
    margin: 0px 38px;
    padding: 0px 15px;
    background-color: #ffffff;
    /* padding: 0px, 16px, 0px, 16px; */
}
.search-button{
    float: left;
    margin-top: 15px;
}
.goto-button{
    float: right;
    margin-top: 15px;
}
.header-search input{
    border: none;
    margin-left: 13.26px;
    height: 100%;
    outline: none;
}
.mic-button{
    float: right;
    margin-top: 15px;
}

.header-nav{
    display: inline-block;
    margin-left: 128px;
    margin-right: 87px;
}
.header-nav ul{
    display: flex;
    flex-direction: row;
}
.header-nav ul li{
    margin-right: 32px;
}
.header-nav ul li a{
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #7A8699;
}
.active{
    color: #323C4D !important;
}
.user-controls{
    display: inline-block;
}
.my-files{
    float: left;
}
.user-controls button{
    margin-right: 23px;
}
.notification-badge{
    width: 20px;
    height: 20px;
    background-color: #EF4444;
    border-radius: 12px;
    padding: 2px 6px;
    font-weight: 900;
    font-size: 10px;
    line-height: 16px;
    position: absolute;
    right: -45px;
    top: -15px;
    color: #FFFFFF;
}
.u-img-notification{
    position: relative;
}
.u-image{
    float: right;
    margin-top: -13px;
}
.status-indicator{
    width: 13px;
    height: 13px;
    background: red;
    position: absolute;
    bottom: -8px;
    right: -41px;
    border: 3px solid white;
    border-radius: 50%;
}
.close-button{
    float: right;
    width: 88px;
    height: 88px;
    position: relative;
}
.close-button button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* middle container styles */
.middle-content-bar{
    border: 1px solid rgb(102, 11, 11);
    margin: 0px 88px 0px 302px;
    /* grid-row: 2/4; */
    
}
.task-boards{
    display: inline-block;
}
.task-boards h2{
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    margin:36px 27px 36px 36px ;
}
.task-board-nav{
    display: inline-block;
}
.task-board-nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0px 152px;
}
.task-board-nav ul li a{
    margin-right: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #98A2B3;
}
.active-task-board-nav{
    color: #3B82F6 !important;
}
.task-board-user-info{
    display: inline-block;
    position: relative;
}
.task-board-user-info .user-1{
    position: absolute;
    top: -27px;
    left: 0px;
}
.task-board-user-info .user-2{
    position: absolute;
    top: -27px;
    left: 29px;
}
.task-board-user-info .user-3{
    position: absolute;
    top: -27px;
    left: 56px;
}
.task-board-user-info .user-4{
    position: absolute;
    top: -27px;
    left: 85px;
}
.task-board-user-info-more{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #F2F4F7;
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: -27px;
    left: 117px;
    border-radius: 50%;
}

/* right-side-bar container styles */

.right-side-bar{
    border: 1px solid rgb(12, 8, 228);
    float: right;
    width: 88px;
    height: 100%
    /* grid-row: 2/4; */
}
.users-link{
    margin: 136px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    /* height: calc(100% - 88px); */
    
    align-items: center;
}
.arrow{
    height: 88px;
    width: 88px;
}
.users-link a{
    /* margin: 16px 0px; */
}