
.total{
    /* position: relative; */
}
.semi-circle{
    position: relative;
    /* background-image: url(./images/rightsidebarimages/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    back */
}
.semi-circle .u-image{
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid gray;
    margin: auto;
    border-left-color: transparent;
    transform: rotate(45deg);
}